<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Agendar Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form id="visitForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <ion-item>
        <ion-label position="floating">Fecha (DD/MM/YYYY)</ion-label>
        <ion-input
          [(ngModel)]="selectedDate"
          name="selectedDate"
          type="text"
          placeholder="DD/MM/YYYY"
          required
          (ionInput)="formatDate($event)"
          maxlength="10"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-select [(ngModel)]="selectedTime" name="selectedTime" placeholder="Selecciona un horario">
          <ion-select-option *ngFor="let time of availableTimes" [value]="time">{{ time }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Ubicación</ion-label>
      </ion-item>

      <div #map id="map_canvas" style="width: 100%; height: 400px; border: 1px solid #ccc;"></div>


      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="selectedAddress" name="address" placeholder="Selecciona una ubicación en el mapa" readonly></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="schedule-button">Agendar Visita</ion-button>
    </form>
  </div>
</ion-content>
