<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light">
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h2 class="reset-title">¿Olvidaste tu contraseña?</h2>

    <p class="reset-description">
      Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form (ngSubmit)="onRecoverPassword()" #resetForm="ngForm" class="w-100" style="max-width: 400px;">
      <!-- Campo de texto de Angular Material para el correo electrónico -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" required [(ngModel)]="email" name="email" email>
      </mat-form-field>

      <!-- Botón de Angular Material para recuperar la contraseña -->
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.form.valid" class="w-100 mb-2">
        Recuperar Contraseña
      </button>
    </form>
  </div>
</ion-content>
