/* Encabezado personalizado para la toolbar */
.custom-toolbar {
  --background: #02d4c6; /* Fondo azul */
  --color: #000000; /* Letras blancas */
}

/* Título del toolbar */
ion-title {
  font-size: 1.6rem; 
  font-weight: bold; 
  text-align: center;
  line-height: 1.5; 
  letter-spacing: 0.5px; 
}

/* Fondo del contenido - NO se cambiará */
ion-content {
  --background: #e3fdfb; /* Fondo de color azul claro */
}

/* Ajustes específicos para ion-item y sus componentes hijos */
ion-item {
  --background: transparent; /* Fondo transparente para que se vea el fondo del ion-content */
}

/* Cambiar color de las etiquetas ion-label */
ion-label {
  color: #000000 !important; /* Forzar color negro para mejor visibilidad */
  font-weight: bold !important; /* Texto en negrita */
  font-size: 1rem !important; /* Tamaño de fuente adecuado */
}

/* Cambiar color del texto ingresado en ion-input */
ion-input {
  --color: #000000 !important; /* Texto negro en el campo de entrada */
  --placeholder-color: #666666 !important; /* Color del placeholder gris para contraste */
  font-weight: bold; /* Texto en negrita */
}

/* Cambiar color de las opciones del ion-select */
ion-select {
  --color: #000000 !important; /* Texto negro para las opciones del select */
}

/* Cambiar color de los textos en ion-datetime */
ion-datetime {
  --color: #000000 !important; /* Texto negro en el calendario */
  --placeholder-color: #666666 !important; /* Color del placeholder gris */
}

/* Estilo de los botones dentro del formulario */
ion-button {
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.2s ease;

  &.button-save {
    --background: #02d4c6; /* Verde para el botón de guardar */
    --color: #000000; /* Texto blanco */
  }

  &.button-cancel {
    --background: #02d4c6; /* Rojo para el botón de cancelar */
    --color: #ffffff; /* Texto blanco */
  }
}

/* Asegurar que los botones de edición tengan el color adecuado */
.edit-profile-button {
  --background: #02d4c6; 
  --color: #ffffff; 
  font-weight: bold;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05); 
  }
}