<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Suscripciones Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Productos Comprados -->
  <div *ngIf="purchasedProducts.length > 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Suscripciones Compradas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let product of purchasedProducts">
            <ion-label>
              <h2>{{ product.name }}</h2>
              <p><strong>Costo:</strong> {{ product.cost | currency:'CLP' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Productos Disponibles -->
  <div class="available-products">
    <ion-card *ngFor="let product of products">
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Costo:</strong> {{ product.cost | currency:'CLP' }}</p>
        <ion-button color="success" (click)="addToCart(product)">
          <ion-icon name="cart-outline"></ion-icon> Añadir al Carrito
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Carrito de Compras -->
  <ion-card *ngIf="cart.length > 0">
    <ion-card-header>
      <ion-card-title>Carrito de Compras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of cart">
          <ion-label>{{ item.name }} - {{ item.cost }}</ion-label>
          <ion-button color="danger" (click)="removeFromCart(item)">Eliminar</ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="tertiary" (click)="purchaseCart()">Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>