<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Soporte remoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
      <div class="camera-view">
        <!-- Esta es la vista de la cámara -->
      </div>
      <ion-button (click)="stopCamera()">Detener Cámara</ion-button>

    
   
    
  </div>
</ion-content>