<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Soporte remoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Vista de la cámara -->
    <video #videoElement id="camera-stream" autoplay playsinline style="width: 100%; height: 100%;"></video>
    <ion-button expand="block" (click)="stopCamera()">Detener Cámara</ion-button>
  </div>
</ion-content>