.custom-toolbar {
    --background: #8000ff; /* Fondo azul */
    --color: #fefefe; /* Letras blancas */
    --border-color: transparent; /* Eliminar el borde por defecto */
  }
  
  ion-title {
    font-size: 1.6rem; /* Aumenta un poco más el tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    text-align: center;
    line-height: 1.5; /* Asegura que la "G" no se corte */
    letter-spacing: 0.5px; /* Aumenta el espacio entre las letras */
  }
  
  ion-back-button {
    --color: #ffffff; /* Color blanco para el texto del botón */
    font-weight: bold; /* Negrita para el botón de retroceso */
  }
  
  ion-toolbar {
    padding: 10px; /* Añadir espacio extra para mejorar legibilidad */
  }
  
  ion-content {
    --background: #f7f1ff; /* Fondo de color azul claro */
    --title--color: #8000ff;
    color: #060606; /* Texto en color oscuro para mejor contraste */
    font-size: 1.2rem; /* Ajusta el tamaño base del texto para mejorar la legibilidad */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  ion-item {
    --color: #000001;
    --highlight-background: #dac0ff;
    --background: #e4d0ff;
    --background-activated: #8000ff; /* Color del botón al presionarlo */
    --background-focused: #e4d0ff;
    margin-bottom: 15px;
    color: #060606; /* Texto en color oscuro para mejor contraste */
    font-weight: bold; /* Texto en negrita para mayor visibilidad */
  }
  
  ion-button,
  button[mat-button] {
    margin-top: 20px;
    width: 100%;
    --background: #e4d0ff; /* Color de los botones en azul */
    --background-activated: #8000ff; /* Color del botón al presionarlo */
    --background-focused: #8000ff;
    --border-radius: 12px;
    --color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold; /* Texto en negrita en el botón */
  }
  
  ion-button {
    margin-top: 20px;
    width: 100%;
    --background: #c79eff; /* Color de los botones en azul */
    --background-activated: #8000ff; /* Color del botón al presionarlo */
    --background-focused: #e4d0ff;
    --border-radius: 12px;
    --color: rgb(2, 2, 2);
    font-size: 18px;
    font-weight: bold; /* Texto en negrita en el botón */
  }

  ion-label {
    font-size: 2rem; /* Ajuste del tamaño de la etiqueta */
  }
  
  input {
    font-weight: bold; /* Aseguramos que el texto autocompletado se vea bien */
    color: #060606;
  }
  
  ion-input {
    --color: #060606;
    --padding-start: 10px;
  }
  
  button[mat-raised-button] {
    font-weight: bold;
    color: #000000;
    background-color: #8000ff;  /* Color de fondo azul brillante */
    border-radius: 8px;  /* Bordes redondeados */
    width: 100%;  /* Asegura que el botón ocupe el 100% del ancho */
    padding: 12px;  /* Padding para asegurar que el texto esté centrado */
    transition: transform 0.2s ease;
  
    &:hover {
      background-color: #8000ff;  /* Color de hover */
      transform: scale(1.05);  /* Efecto de hover */
    }
  
    &:disabled {
      background-color: #000000;  /* Color de botón deshabilitado */
      cursor: not-allowed;
    }
}

ion-datetime {
    --background: #e4d0ff; /* Fondo azul claro */
    --background-color: #8000ff;
    --color: #000000; /* Texto en color negro */
    --color-selected: #000000; /* Texto seleccionado en negro */
    --highlight-background: #a406f3; /* Fondo del día seleccionado en blanco */
    --highlight-color: #8000ff; /* Color del día seleccionado */
    --border-radius: 10px; /* Bordes redondeados */
  }
  
  ion-picker {
    --background: #c79eff; /* Fondo más claro */
    --color: #000000;
    --button-color: #000000; /* Color del texto en los botones */
    --button-background: #6e06ff; /* Fondo de los botones */
    --title-color: #8000ff
  }
  ::ng-deep .mat-calendar {
    background-color: #ecdeff !important; /* Fondo azul claro */
    color: #000 !important; /* Texto en negro */
  }
  
  /* Cambiar color del día seleccionado */
  ::ng-deep .mat-calendar-body-selected {
    background-color: #8000ff !important; /* Fondo azul para el día seleccionado */
    color: #050505 !important; /* Texto blanco para el día seleccionado */
  }
  
  /* Cambiar el color de los días al hacer hover */
  ::ng-deep .mat-calendar-body-cell:hover {
    background-color: #8000ff !important; /* Color azul oscuro al pasar el ratón */
    color: #000000 !important; /* Texto blanco al hacer hover */
  }
  
  /* Cambiar color de los días deshabilitados */
  ::ng-deep .mat-calendar-body-disabled {
    color: rgb(247, 16, 16) !important; /* Color gris para días deshabilitados */
  }
  
  /* Cambiar el color de los botones de navegación (meses/años) */
  ::ng-deep .mat-calendar-next-button, 
  ::ng-deep .mat-calendar-previous-button {
    color: #8000ff !important; /* Color de las flechas de navegación */
  }
  
  /* Cambiar color del mes seleccionado */
  ::ng-deep .mat-calendar-period-button {
    color: #8000ff !important; /* Color del botón de mes */
    
  }
  ion-item {
    --background: #f5f5f5; /* Fondo gris claro */
    --highlight-background: #e0e0e0; /* Fondo destacado al seleccionar */
    --color: #000000; /* Texto en negro */
    --background-activated: #bdbdbd; /* Fondo cuando se presiona */
    --background-focused: #e0e0e0; /* Fondo cuando se enfoca */
  }
  
  