<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Mis Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar mensaje si no hay solicitudes -->
  <div *ngIf="!solicitudes || solicitudes.length === 0" class="no-data">
    <p>No tienes solicitudes creadas.</p>
  </div>

  <!-- Lista de solicitudes -->
  <ion-list *ngIf="solicitudes && solicitudes.length > 0">
    
    <ion-card *ngFor="let request of solicitudes">
      <ion-label>
        <h2>{{ request.description }}</h2>
        <p>Estado: {{ request.status }}</p>
      </ion-label>
    </ion-card>
  </ion-list>
</ion-content>