/* Encabezado personalizado para la toolbar */
.custom-toolbar {
  --background: #02d4c6; 
  --color: #000000;
  font-weight: bold; 
}
/* Fondo del contenido - NO se cambiará */
ion-content {
  --background: #e3fdfb; /* Fondo de color azul claro */
/* Contenedor principal para la configuración */
}
.config-container {
  padding: 20px;
  --background: #c2fffa;
}

/* Configuración específica de los items */
ion-item {
  --color: #000000;
  --background: #e3fdfb;
  font-weight: bold;
}

ion-label {
  color: #000000 !important;
  font-weight: bold;
  --background: #b4fcf6;

}

ion-icon {
  color: #02d4c6;
}

ion-toggle {
  --handle-background-checked: #02d4c6;
}

ion-select {
  --color: #000000 !important;
}

/* Estilo del contenedor de configuración */
.config-container {
  margin: 0; /* Elimina los márgenes alrededor del contenedor */
  padding: 0; /* Elimina los paddings dentro del contenedor */
}

/* Elimina el margen superior e inferior de la lista */
ion-list {
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
  padding: 0;
}

/* Asegura que los elementos de la lista ocupen todo el ancho */
ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
}