<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ nombreUsuario }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <button mat-button color="accent" (click)="logout()" class="mt-3">
              Cerrar sesión
            </button>
        
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ nombreUsuario }}
           </ion-card-content>
        </ion-card>
      </div>
      <ion-grid>
        <ion-row>
          <!-- Primera tarjeta en la primera columna -->
          <ion-col size="6"> <!-- 'size="6"' indica que la tarjeta ocupará el 50% del ancho de la fila -->
            <ion-card routerLink="/details"> 
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Asistencia Guiada</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
    
          <!-- Segunda tarjeta en la segunda columna -->
          <ion-col size="6"> <!-- 'size="6"' indica que la tarjeta ocupará el 50% del ancho de la fila -->
            <ion-card routerLink="/details"> 
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Asistencia Remota</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
    
        <!-- Otra fila de tarjetas -->
        <ion-row>
          <!-- Tercera tarjeta en la primera columna -->
          <ion-col size="6">
            <ion-card routerLink="/details"> 
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Asistencia CHAT</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
    
          <!-- Cuarta tarjeta en la segunda columna -->
          <ion-col size="6">
            <ion-card routerLink="/details"> 
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Asistencia Telefonica</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>

</ion-content>
