<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar class="custom-toolbar">
        <ion-title class="text-center">ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ nombreUsuario }}</ion-card-title> <!-- Muestra el nombre del usuario -->
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="full" color="tertiary" (click)="goToAccountSettings()">
              Mi perfil
            </ion-button>
        
            <ion-button expand="full" color="tertiary" (click)="goToServiceHistory()">
              Mis solicitudes
            </ion-button>
        
            <ion-button expand="full" color="tertiary" (click)="goToChangePassword()">
              Mi suscripción
            </ion-button>
            
            <!-- Solo visible si es admin -->
            <ion-item *ngIf="isAdmin" routerLink="/user-management">Gestión de Usuarios</ion-item> 
            <ion-item *ngIf="isAdmin" routerLink="/user-management">Gestión de Tecnicos</ion-item>
            <ion-item *ngIf="isAdmin" routerLink="/user-management">Gestión de Servicios</ion-item>
            <ion-item *ngIf="isAdmin" routerLink="/user-management">Control suscripciones</ion-item>   



            <ion-button expand="full" color="tertiary" (click)="goToChangePassword()">
              Configuración
            </ion-button>

            <ion-button expand="full" color="danger" (click)="logout()">
              Cerrar sesión
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ nombreUsuario }}
           </ion-card-content>
        </ion-card>
      </div>
      <ion-grid>
        <ion-row>
          <!-- Primera tarjeta: Asistencia Guiada -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Agendar visita" src="assets/img/Agendar visita.jpeg" />
              <ion-card-header>
                <ion-card-title>Agendar visita</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
      
          <!-- Segunda tarjeta: Asistencia Remota -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Soporte remoto" src="assets/img/Soporte remoto.jpeg" />
              <ion-card-header>
                <ion-card-title>Soporte Remoto</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <!-- Tercera tarjeta: Asistencia CHAT -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia CHAT" src="assets/img/Ayuda-Chat.png" />
              <ion-card-header>
                <ion-card-title>CHAT en vivo</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
      
          <!-- Cuarta tarjeta: Asistencia Telefónica -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia Telefónica" src="assets/img/Ayuda-Tel.png" />
              <ion-card-header>
                <ion-card-title>Soporte Tel.</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
      
    </ion-content>
  </div>

</ion-content>
