<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar class="custom-toolbar">
        <ion-title class="text-center">ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ nombreUsuario }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="full" color="primary" (click)="goToAccountSettings()">
              Actualizar Perfil
            </ion-button>
            
            <ion-button expand="full" color="secondary" (click)="goToServiceHistory()">
              Historial de Actividad
            </ion-button>

            <ion-button expand="full" color="tertiary" (click)="goToChangePassword()">
              Cambiar Contraseña
            </ion-button>

            <button mat-button color="accent" (click)="logout()" class="mt-3">
              Cerrar sesión
            </button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ServiPoint</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ nombreUsuario }}
           </ion-card-content>
        </ion-card>
      </div>
      <ion-grid>
        <ion-row>
          <!-- Primera tarjeta: Asistencia Guiada -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia Guiada" src="assets/img/Ayuda-Guiada.png" />
              <ion-card-header>
                <ion-card-title>Ayuda Guiada</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
      
          <!-- Segunda tarjeta: Asistencia Remota -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia Remota" src="assets/img/Ayuda-Remota.png" />
              <ion-card-header>
                <ion-card-title>Soporte Remoto</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <!-- Tercera tarjeta: Asistencia CHAT -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia CHAT" src="assets/img/Ayuda-Chat.png" />
              <ion-card-header>
                <ion-card-title>Ayuda CHAT</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
      
          <!-- Cuarta tarjeta: Asistencia Telefónica -->
          <ion-col size="6">
            <ion-card routerLink="/details" class="selectable-card">
              <img alt="Asistencia Telefónica" src="assets/img/Ayuda-Tel.png" />
              <ion-card-header>
                <ion-card-title>Soporte Tel.</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
      
    </ion-content>
  </div>

</ion-content>
