<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <!-- Formulario de registro -->
    <form id="registerForm" class="w-100" style="max-width: 400px;">
      <!-- Campo de entrada para el nombre -->
      <ion-item class="mb-3">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" id="name" name="name"></ion-input>
      </ion-item>

      <!-- Campo de entrada para el correo electrónico -->
      <ion-item class="mb-3">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" id="email" name="email"></ion-input>
      </ion-item>

      <!-- Campo de entrada para la contraseña -->
      <ion-item class="mb-3">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" id="password" name="password"></ion-input>
      </ion-item>

      <!-- Botón de enviar -->
      <ion-button expand="full" id="submitBtn">Registrar</ion-button>
    </form>
  </div>
</ion-content>
